# Miljøvariabler
.env
.env.local
.env.*.local

# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build filer
dist
dist-ssr
*.local
.output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS filer
.DS_Store
Thumbs.db