rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regler for 'games' collection
    match /games/{gameId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    // Regler for 'platforms' collection
    match /platforms/{platformId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    // Regler for 'users' collection
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Standardregel for alle andre collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
}